<div class="myFix">

</div>

<div id="textProp" class="textProp panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Dom Canvas</h3>

    </div>
    <div id="cavasBody" class="panel-body" >
        <div id="div1" style="background-color:  red; padding: 10px; height: 100px;"> 1
            <div id="div2" style="background-color: green; height: 80%;">2


            </div>

        </div>
    </div>
</div>



<script>
    
   $("#codeHTML").text($("#cavasBody").html());
    
    
    
</script>

