

.view-2D.zoom-large #sun {
    transform-style: flat; }

.view-2D.zoom-large .orbit {
    transform-style: flat; }

.view-2D #sun,
.view-2D .ring {
    transform: rotateX(0deg); }

.view-2D .planet,
.view-2D .moon {
    transform: rotateX(0deg); }


