.view-3D.zoom-large #sun {
    transform-style: preserve-3d; }

.view-3D.zoom-large .orbit {
    transform-style: preserve-3d; }

.view-3D #solar-system {
    transform: rotateX(75deg); }

.view-3D #sun {
    transform: rotateX(-90deg); }

.view-3D .ring {
    transform: rotateX(90deg); }

.view-3D .planet,
.view-3D .moon {
    transform: rotateX(0deg); }

