.zoom-close #solar-system {
    width: 200%;
    font-size: 100%; }

.zoom-close .scale-stretched #solar-system {
    margin-left: -100%; }

.zoom-close .scale-d #solar-system {
    margin-left: -106%; }

.zoom-close.view-2D .scale-d #solar-system {
    font-size: 84%; }

.zoom-close.view-3D .scale-d #solar-system {
    font-size: 84%; }

.zoom-close .scale-s #solar-system {
    margin-left: -145%; }

.zoom-close.view-2D .scale-s #solar-system {
    font-size: 40%; }

.zoom-close.view-3D .scale-s #solar-system {
    font-size: 40%; }

.zoom-close .orbit,
.zoom-close .pos,
.zoom-close .planet,
.zoom-close .satelite,
.zoom-close .ring {
    animation-play-state: paused!important;
    animation-duration: 0s!important;
    animation: none!important; }

.zoom-close.view-2D .planet,
.zoom-close.view-2D .moon {
    transform: rotateX(0deg); }

.zoom-close.view-3D .planet {
    transform: rotateX(-90deg); }

.zoom-close.view-3D .moon {
    transform: rotateX(90deg); }

.zoom-close .pos {
    left: 100%!important;
    top: 50%!important; }

