.scale-s #sun {
    font-size: 417.3048em; }

.scale-s #mercury .planet {
    font-size: 1.4634em; }

.scale-s #venus .planet {
    font-size: 3.6306em; }

.scale-s #earth .planet {
    font-size: 3.8226em; }

.scale-s #earth .moon {
    font-size: 0.8226em; }

.scale-s #mars .planet {
    font-size: 2.0334em; }

.scale-s #jupiter .planet {
    font-size: 41.9466em; }

.scale-s #saturn .planet {
    font-size: 34.9392em; }

.scale-s #uranus .planet {
    font-size: 15.2172em; }

.scale-s #neptune .planet {
    font-size: 14.7732em; }

