.scale-d #sun {
    font-size: 41.73048em; }

.scale-d #mercury .planet {
    font-size: 0.14634em; }

.scale-d #venus .planet {
    font-size: 0.36306em; }

.scale-d #earth .planet {
    font-size: 0.38226em; }

.scale-d #earth .moon {
    font-size: 0.08226em; }

.scale-d #mars .planet {
    font-size: 0.20334em; }

.scale-d #jupiter .planet {
    font-size: 4.19466em; }

.scale-d #saturn .planet {
    font-size: 3.49392em; }

.scale-d #uranus .planet {
    font-size: 1.52172em; }

.scale-d #neptune .planet {
    font-size: 1.47732em; }


