/* sideral years */
#mercury .pos,
#mercury .planet,
#mercury.orbit {
    animation-duration: 2.89016s; }

#venus .pos,
#venus .planet,
#venus.orbit {
    animation-duration: 7.38237s; }

#earth .pos,
#earth .planet,
#earth.orbit {
    animation-duration: 12.00021s; }

#earth .orbit .pos,
#earth .orbit {
    animation-duration: 0.89764s; }

#mars .pos,
#mars .planet,
#mars.orbit {
    animation-duration: 22.57017s; }

#jupiter .pos,
#jupiter .planet,
#jupiter.orbit {
    animation-duration: 142.35138s; }

#saturn .pos,
#saturn .planet,
#saturn.orbit,
#saturn .ring {
    animation-duration: 353.36998s; }

#uranus .pos,
#uranus .planet,
#uranus.orbit {
    animation-duration: 1008.20215s; }

#neptune .pos,
#neptune .planet,
#neptune.orbit {
    animation-duration: 1977.49584s; }


