#uranus .pos {
    left: 0;
    top: 50%; }

#uranus .planet {
    animation-name: shadow-uranus; }

@keyframes shadow-uranus {
    0% {
        box-shadow: inset 8px 0 5px rgba(0, 0, 0, 0.5);
        /* LEFT */ }

    25% {
        box-shadow: inset 40px -15px 40px rgba(0, 0, 0, 0.5);
        /* BOTTOM */ }

    25.01% {
        box-shadow: inset -40px -15px 40px rgba(0, 0, 0, 0.5);
        /* BOTTOM */ }

    50% {
        box-shadow: inset -8px 0 5px rgba(0, 0, 0, 0.5);
        /* RIGHT */ }

    75% {
        box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
        /* TOP */ }

    100% {
        box-shadow: inset 8px 0 5px rgba(0, 0, 0, 0.5);
        /* LEFT */ } }

.scaled.view-2D #uranus .planet,
.scaled.view-3D #uranus .planet {
    box-shadow: inset -8px 0 5px rgba(0, 0, 0, 0.5);
    /* RIGHT */ }


