<h4>Border Style</h4>

<div>
    <label for="labBorder-left-style" style="display: inline; width: 15%">left</label>


    <select name="radius" id="selBorder-left-style" class="zeroMP" style="display: inline; width: 20%">
        <option value="none" selected="selected" title="none">none</option>
        <option value="hidden">hidden</option>
        <option value="dotted">dotted</option>
        <option value="dashed">dashed</option>
        <option value="solid">solid</option>
        <option value="double">double</option>
        <option value="groove">groove</option>
        <option value="ridge">ridge</option>
        <option value="inset">inset</option>
        <option value="outset">outset</option>
    </select>
</div>


<!------------------------------------------------------------------------------------------------------->
<div>
    <label for="labBorder-top-style" style="display: inline; width: 15%">top</label>


    <select name="radius" id="selBorder-top-style" class="zeroMP" style="display: inline; width: 20%">
        <option value="none" selected="selected" title="none">none</option>
        <option value="hidden">hidden</option>
        <option value="dotted">dotted</option>
        <option value="dashed">dashed</option>
        <option value="solid">solid</option>
        <option value="double">double</option>
        <option value="groove">groove</option>
        <option value="ridge">ridge</option>
        <option value="inset">inset</option>
        <option value="outset">outset</option>
    </select>
</div>

<!------------------------------------------------------------------------------------------------------->
<div>
    <label for="labBorder-right-style" style="display: inline; width: 15%">right</label>


    <select name="radius" id="selBorder-right-style" class="zeroMP" style="display: inline; width: 20%">
        <option value="none" selected="selected" title="none">none</option>
        <option value="hidden">hidden</option>
        <option value="dotted">dotted</option>
        <option value="dashed">dashed</option>
        <option value="solid">solid</option>
        <option value="double">double</option>
        <option value="groove">groove</option>
        <option value="ridge">ridge</option>
        <option value="inset">inset</option>
        <option value="outset">outset</option>
    </select>
</div>

<!------------------------------------------------------------------------------------------------------->
<div>
    <label for="labBorder-bottom-style" style="display: inline; width: 15%">bottom</label>


    <select name="radius" id="selBorder-bottom-style" class="zeroMP" style="display: inline; width: 20%">
        <option value="none" selected="selected" title="none">none</option>
        <option value="hidden">hidden</option>
        <option value="dotted">dotted</option>
        <option value="dashed">dashed</option>
        <option value="solid">solid</option>
        <option value="double">double</option>
        <option value="groove">groove</option>
        <option value="ridge">ridge</option>
        <option value="inset">inset</option>
        <option value="outset">outset</option>
    </select>
</div>

<div  style="display: inline; width: 45%; padding-right: 5%;">
    <label  for="shorthandBorderStyle" style="display: inline">shorthand:</label>
    <input type="checkbox" name="shorthandBorderStyle" > 
</div>

<div  style="display: inline; width: 45%; padding-right: 5%;">
    <label  for="separateBorderStyle" style="display: inline">separate:</label>
    <input type="checkbox" name="separateBorderStyle" > 
</div>

<script>
    var debug = true;

    $("input[name='separateBorderStyle']").on("click", function () {
        if ($(this).prop("checked")) {

            mainObject.currentPropSet = mainObject.separatePropSet;


            mainObject.displayProp();


        } else {
            mainObject.currentPropSet = mainObject.fullPropSet;
            mainObject.displayProp();
        }
    })

    $("input[name='shorthandBorderStyle']").on("click", function () {


        if ($(this).prop("checked")) {


            mainObject.addExeptPropSet("border-top-style").addExeptPropSet("border-right-style")
                    .addExeptPropSet("border-bottom-style").addExeptPropSet("border-left-style")
                    .removeExeptPropSet("border-style");

            mainObject.displayProp();
        } else {
            mainObject.removeExeptPropSet("border-top-style").removeExeptPropSet("border-right-style")
                    .removeExeptPropSet("border-bottom-style").removeExeptPropSet("border-left-style")
                    .addExeptPropSet("border-style");

            mainObject.displayProp();

        }
    });

    mainObject.trig = function () {

        mainObject.fullPropSet["border-style"] =
                mainObject.fullPropSet["border-top-style"] + " "
                + mainObject.fullPropSet["border-right-style"] + " "
                + mainObject.fullPropSet["border-bottom-style"] + " "
                + mainObject.fullPropSet["border-left-style"];
        mainObject.separatePropSet["border-style"] =
                mainObject.fullPropSet["border-top-style"] + " "
                + mainObject.fullPropSet["border-right-style"] + " "
                + mainObject.fullPropSet["border-bottom-style"] + " "
                + mainObject.fullPropSet["border-left-style"];

    }




    var propProc = function (prop) {

        var p = prop.toLowerCase();

        if (mainObject[p + "Unit"]) {
            var curUnitW = "#sel" + prop + " option[value='" + mainObject[p + 'Unit'] + "']";
            $("#sel" + prop).find('option:selected').removeAttr("selected");
            $(curUnitW).attr("selected", "selected");
        }

        mainObject[p + "Unit"] = $("#sel" + prop).val();
        mainObject.processFullProp(p, mainObject[p + "Unit"]);




        $("#sel" + prop).on("change", function () {

            mainObject[p + "Unit"] = this.value;

            mainObject.processFullProp(p, mainObject[p + "Unit"]);

            mainObject.trig();

        })

    }

    mainObject.clearSeparatePropSet();
    mainObject.currentPropSet = mainObject.fullPropSet;

    propProc("Border-top-style");
    propProc("Border-right-style");
    propProc("Border-bottom-style");
    propProc("Border-left-style");
</script>
