<label  for="selectBorderTopStyle" style="display: inline">border-top-style:</label>

<select name="radius" id="selectBorderTopStyle" class="zeroMP" style=" width: 100px">
    <option value="none" selected="selected" title="none">none</option>
    <option value="hidden">hidden</option>
    <option value="dotted">dotted</option>
    <option value="dashed">dashed</option>
    <option value="solid">solid</option>
    <option value="double">double</option>
    <option value="groove">groove</option>
    <option value="ridge">ridge</option>
    <option value="inset">inset</option>
    <option value="inset">outset</option>
</select>

<!------------------------------------------------------------------------------------------------------->
<label  for="selectBorderRightStyle" style="display: inline">border-right-style:</label>

<select name="radius" id="selectBorderRightStyle" class="zeroMP" style=" width: 100px">
    <option value="none" selected="selected" title="none">none</option>
    <option value="hidden">hidden</option>
    <option value="dotted">dotted</option>
    <option value="dashed">dashed</option>
    <option value="solid">solid</option>
    <option value="double">double</option>
    <option value="groove">groove</option>
    <option value="ridge">ridge</option>
    <option value="inset">inset</option>
    <option value="inset">outset</option>
</select>

<!------------------------------------------------------------------------------------------------------->
<label  for="selectBorderBottomStyle" style="display: inline">border-bottom-style:</label>

<select name="radius" id="selectBorderBottomStyle" class="zeroMP" style=" width: 100px">
    <option value="none" selected="selected" title="none">none</option>
    <option value="hidden">hidden</option>
    <option value="dotted">dotted</option>
    <option value="dashed">dashed</option>
    <option value="solid">solid</option>
    <option value="double">double</option>
    <option value="groove">groove</option>
    <option value="ridge">ridge</option>
    <option value="inset">inset</option>
    <option value="inset">outset</option>
</select>

<!------------------------------------------------------------------------------------------------------->
<label  for="selectBorderLeftStyle" style="display: inline">border-left-style:</label>

<select name="radius" id="selectBorderLeftStyle" class="zeroMP" style=" width: 100px">
    <option value="none" selected="selected" title="none">none</option>
    <option value="hidden">hidden</option>
    <option value="dotted">dotted</option>
    <option value="dashed">dashed</option>
    <option value="solid">solid</option>
    <option value="double">double</option>
    <option value="groove">groove</option>
    <option value="ridge">ridge</option>
    <option value="inset">inset</option>
    <option value="inset">outset</option>
</select>

<div  style="padding-left: 0px;">
    <label  for="shorthandBorderStyle" style="display: inline">shorthand:</label>
    <input type="checkbox" name="shorthandBorderStyle" > 
</div>


<script>
    /*********************************BorderTopStyle******************************************************/
    
     /*******************shorhand" ************************/
     
//debugger;

    $("input[name='shorthandBorderStyle']").on("click", function () {

     // debugger;

        if ($(this).prop("checked")) {

            State["shortHandBorderStyle"].enable = true;

            if (boxCompProperties.hasOwnProperty("border-top-style")) {
                delete boxCompProperties["border-top-style"];
            }
            if (boxCompProperties.hasOwnProperty("border-right-style")) {
                delete boxCompProperties["border-right-style"];
            }
            if (boxCompProperties.hasOwnProperty("border-bottom-style")) {
                delete boxCompProperties["border-bottom-style"];
            }
            if (boxCompProperties.hasOwnProperty("border-left-style")) {
                delete boxCompProperties["border-left-style"];
            }


            State["shortHandBorderStyle"].first = State["BorderTopStyle"];


            State["shortHandBorderStyle"].second = State["BorderRightStyle"];


            State["shortHandBorderStyle"].third = State["BorderBottomStyle"];


            State["shortHandBorderStyle"].forth = State["BorderLeftStyle"];

            $("#passingborder-left-style").remove();
            $("#passingborder-top-style").remove();
            $("#passingborder-bottom-style").remove();
            $("#passingborder-right-style").remove();

        } else {

            State["shortHandBorderStyle"].enable = false;

            if (boxCompProperties.hasOwnProperty("border-style")) {
                delete boxCompProperties["border-style"];
            }

            $("#passingborder-style").remove();
        }

        seperatBorderStyle("border-top-style", "BorderTopStyle");
        seperatBorderStyle("border-right-style", "BorderRightStyle");
        seperatBorderStyle("border-bottom-style", "BorderBottomStyle");
        seperatBorderStyle("border-left-style", "BorderLeftStyle");


    });



    if (!State["shortHandBorderStyle"]) {
        State["shortHandBorderStyle"] = {
            cssProp: "border-style",
            enable: false,
            first: null,
            second: null,
            third: null,
            forth: null
        }
    }

    var seperatBorderStyle = function (cssProp, nameProp) {

        var currentUnitBTW = "#select" + nameProp + " option[value='" + State[nameProp]["paramsTop"]["unit"] + "']";

        $("#select" + nameProp).find('option:selected').removeAttr("selected");
        $(currentUnitBTW).attr("selected", "selected");
        
         seeProperty.call(State[nameProp].paramsTop, cssProp);


        $("#select" + nameProp).selectmenu({
            change: function (event, data) {
                var objD = {};
                var units = data.item.value;

                State[nameProp].paramsTop.unit = units;
                State[nameProp].paramsTop.value = " ";


                seeProperty.call(State[nameProp].paramsTop, cssProp);

            }
        });

    }

    if (!State["BorderTopStyle"])
        State["BorderTopStyle"] = new myWww("", Top = {
            min: 0, max: 20, step: 1, value: "", unit: "hidden",
            sliderElem: "", boxProp: ""}

        );
    State["shortHandBorderStyle"].first = State["BorderTopStyle"];
    State["BorderTopStyle"]["paramsTop"].shortHand = State["shortHandBorderStyle"];


    seperatBorderStyle("border-top-style", "BorderTopStyle");
    
    /**************************************************************************************/

    if (!State["BorderRightStyle"])
        State["BorderRightStyle"] = new myWww("", Top = {
            min: 0, max: 20, step: 1, value: "", unit: "hidden",
            sliderElem: "", boxProp: ""}

        );
    State["shortHandBorderStyle"].second = State["BorderRightStyle"];
    State["BorderRightStyle"]["paramsTop"].shortHand = State["shortHandBorderStyle"];


    seperatBorderStyle("border-right-style", "BorderRightStyle");

 /**************************************************************************************/

    if (!State["BorderBottomStyle"])
        State["BorderBottomStyle"] = new myWww("", Top = {
            min: 0, max: 20, step: 1, value: "", unit: "hidden",
            sliderElem: "", boxProp: ""}

        );
    State["shortHandBorderStyle"].third = State["BorderBottomStyle"];
    State["BorderBottomStyle"]["paramsTop"].shortHand = State["shortHandBorderStyle"];


    seperatBorderStyle("border-bottom-style", "BorderBottomStyle");

 /**************************************************************************************/

    if (!State["BorderLeftStyle"])
        State["BorderLeftStyle"] = new myWww("", Top = {
            min: 0, max: 20, step: 1, value: "", unit: "hidden",
            sliderElem: "", boxProp: ""}

        );
    State["shortHandBorderStyle"].forth = State["BorderLeftStyle"];
    State["BorderLeftStyle"]["paramsTop"].shortHand = State["shortHandBorderStyle"];


    seperatBorderStyle("border-left-style", "BorderLeftStyle");


</script>