<h4>Border Color</h4>

<div>
    <label for="labBorder-top-color" style="display: inline; width: 15%">top</label>
    <input type="color" id="slidBorder-top-color">

    <select name="radius" id="selBorder-top-color" class="zeroMP" style=" width: 100px">
        <option value="colorPicker" data-value="colorPicker" selected="selected" title="none">colorPicker</option>
        <option value="red" data-value="red">red</option>
        <option value="green" data-value="green">green</option>

    </select>
</div>
<br>
<!---------------------------------------------------------------------------------->
<div>
    <label for="labBorder-right-color" style="display: inline; width: 15%">right</label>
    <input type="color" id="slidBorder-right-color">

    <select name="radius" id="selBorder-right-color" class="zeroMP" style=" width: 100px">
        <option value="colorPicker" data-value="colorPicker" selected="selected" title="none">colorPicker</option>
        <option value="red" data-value="red">red</option>
        <option value="green" data-value="green">green</option>

    </select>
</div>
<br>
<!---------------------------------------------------------------------------------->
<div>
    <label for="labBorder-bottom-color" style="display: inline; width: 15%">bottom</label>
    <input type="color" id="slidBorder-bottom-color">

    <select name="radius" id="selBorder-bottom-color" class="zeroMP" style=" width: 100px">
        <option value="colorPicker" data-value="colorPicker" selected="selected" title="none">colorPicker</option>
        <option value="red" data-value="red">red</option>
        <option value="green" data-value="green">green</option>

    </select>
</div>
<br>
<!---------------------------------------------------------------------------------->
<div>
    <label for="labBorder-left-color" style="display: inline; width: 15%">left</label>
    <input type="color" id="slidBorder-left-color">

    <select name="radius" id="selBorder-left-color" class="zeroMP" style=" width: 100px">
        <option value="colorPicker" data-value="colorPicker" selected="selected" title="none">colorPicker</option>
        <option value="red" data-value="red">red</option>
        <option value="green" data-value="green">green</option>

    </select>
</div>
<br>

<div  style="display: inline; width: 45%; padding-right: 5%;">
    <label  for="shorthandBorderColor" style="display: inline">shorthand:</label>
    <input type="checkbox" name="shorthandBorderColor" > 
</div>

<div  style="display: inline; width: 45%; padding-right: 5%;">
    <label  for="separateBorderColor" style="display: inline">separate:</label>
    <input type="checkbox" name="separateBorderColor" > 
</div>


<script>
    var debug = true;

    $("input[name='separateBorderColor']").on("click", function () {
        if ($(this).prop("checked")) {

            mainObject.currentPropSet = mainObject.separatePropSet;


            mainObject.displayProp();


        } else {
            mainObject.currentPropSet = mainObject.fullPropSet;
            mainObject.displayProp();
        }
    })

    $("input[name='shorthandBorderColor']").on("click", function () {


        if ($(this).prop("checked")) {


            mainObject.addExeptPropSet("border-top-color").addExeptPropSet("border-right-color")
                    .addExeptPropSet("border-bottom-color").addExeptPropSet("border-left-color")
                    .removeExeptPropSet("border-color");

            mainObject.displayProp();
        } else {
            mainObject.removeExeptPropSet("border-top-color").removeExeptPropSet("border-right-color")
                    .removeExeptPropSet("border-bottom-color").removeExeptPropSet("border-left-color")
                    .addExeptPropSet("border-color");

            mainObject.displayProp();

        }
    });

    mainObject.trig = function () {

        mainObject.fullPropSet["border-color"] =
                mainObject.fullPropSet["border-top-color"] + " "
                + mainObject.fullPropSet["border-right-color"] + " "
                + mainObject.fullPropSet["border-bottom-color"] + " "
                + mainObject.fullPropSet["border-left-color"];
        mainObject.separatePropSet["border-color"] =
                mainObject.fullPropSet["border-top-color"] + " "
                + mainObject.fullPropSet["border-right-color"] + " "
                + mainObject.fullPropSet["border-bottom-color"] + " "
                + mainObject.fullPropSet["border-left-color"];

    }




    var propProc = function (prop) {

        var p = prop.toLowerCase();

        if (mainObject[p + "Unit"]) {
            var curUnitW = "#sel" + prop + " option[value='" + mainObject[p + 'Unit'] + "']";
            $("#sel" + prop).find('option:selected').removeAttr("selected");
            $(curUnitW).attr("selected", "selected");
        }


        if ($("#sel" + prop).val() != "colorPicker") {
            mainObject[p + "Unit"] = $("#sel" + prop).val();
        } else {
            mainObject[p + "Unit"] = $("#slid" + prop).val();
        }
        mainObject.processFullProp(p, mainObject[p + "Unit"]);


        $("#slid" + prop).on('input', function () {
            // mainObject.slid = this.value;

            mainObject[p + "Unit"] = this.value

            mainObject.trig();

            mainObject.processFullProp(p, mainObject[p + "Unit"]);
        })

        $("#sel" + prop).on("change", function () {
            switch (this.value) {
                case"colorPicker":

                    mainObject[p + "Unit"] = $("#slid" + prop).val();
                    break;
                default:
                    mainObject[p + "Unit"] = this.value;
                    break;

            }



            mainObject.processFullProp(p, mainObject[p + "Unit"]);

            mainObject.trig();

        })

    }

    mainObject.clearSeparatePropSet();
    mainObject.currentPropSet = mainObject.fullPropSet;

    propProc("Border-top-color");
    propProc("Border-right-color");
    propProc("Border-bottom-color");
    propProc("Border-left-color");
</script>


