<h4>Padding</h4>

<div>
    <label for="labPadding-Top" style="display: inline; width: 15%">top</label>
    <input type="range" min="0" max="10" value="5" id="slidPadding-Top" step="1" style="display: inline; width: 50%">
    <output for="outWidth" id="outPadding-Top" style="display: inline; width: 15%">5</output>


    <select name="radius" id="selPadding-Top" class="zeroMP" style="display: inline; width: 20%">
        <option value="px" selected="selected" title="px">px</option>
        <option id="mmW" value="mm">mm</option>
        <option value="cm">cm</option>
        <option value="em">em</option>
        <option value="rem">rem</option>
        <option value="%">%</option>
    </select>
</div>
<br>

<div>
    <label for="labPadding-Right" style="display: inline; width: 15%">right</label>
    <input type="range" min="0" max="10" value="5" id="slidPadding-Right" step="1" style="display: inline; width: 50%">
    <output for="slidPadding-Right" id="outPadding-Right" style="display: inline; width: 15%">5</output>


    <select name="radius" id="selPadding-Right" class="zeroMP" style="display: inline; width: 20%">
        <option value="px" selected="selected" title="px">px</option>
        <option id="mmW" value="mm">mm</option>
        <option value="cm">cm</option>
        <option value="em">em</option>
        <option value="rem">rem</option>
        <option value="%">%</option>
    </select>
</div>
<br>

<div>
    <label for="labPadding-Bottom" style="display: inline; width: 15%">bottom</label>
    <input type="range" min="0" max="10" value="5" id="slidPadding-Bottom" step="1" style="display: inline; width: 50%">
    <output for="slidPadding-Bottom" id="outPadding-Bottom" style="display: inline; width: 15%">5</output>


    <select name="radius" id="selPadding-Bottom" class="zeroMP" style="display: inline; width: 20%">
        <option value="px" selected="selected" title="px">px</option>
        <option id="mmW" value="mm">mm</option>
        <option value="cm">cm</option>
        <option value="em">em</option>
        <option value="rem">rem</option>
        <option value="%">%</option>
    </select>
</div>
<br>

<div>
    <label for="labPadding-Left" style="display: inline; width: 15%">left</label>
    <input type="range" min="0" max="10" value="5" id="slidPadding-Left" step="1" style="display: inline; width: 50%">
    <output for="slidPadding-Left" id="outPadding-Left" style="display: inline; width: 15%">5</output>


    <select name="radius" id="selPadding-Left" class="zeroMP" style="display: inline; width: 20%">
        <option value="px" selected="selected" title="px">px</option>
        <option id="mmW" value="mm">mm</option>
        <option value="cm">cm</option>
        <option value="em">em</option>
        <option value="rem">rem</option>
        <option value="%">%</option>
    </select>
</div>
<br>
<div  style="display: inline; width: 45%; padding-right: 5%;">
    <label  for="shorthandPadding" style="display: inline">shorthand:</label>
    <input type="checkbox" name="shorthandPadding" > 
</div>

<div  style="display: inline; width: 45%; padding-right: 5%;">
    <label  for="separatePad" style="display: inline">separate:</label>
    <input type="checkbox" name="separatePad" > 
</div>



<script>
   

    $("input[name='separatePad']").on("click", function () {
        if ($(this).prop("checked")) {

            mainObject.currentPropSet = mainObject.separatePropSet;


            mainObject.displayProp();


        } else {
            mainObject.currentPropSet = mainObject.fullPropSet;
            mainObject.displayProp();
        }
    })

    $("input[name='shorthandPadding']").on("click", function () {


        if ($(this).prop("checked")) {


            mainObject.addExeptPropSet("padding-top").addExeptPropSet("padding-right")
                    .addExeptPropSet("padding-bottom").addExeptPropSet("padding-left").removeExeptPropSet("padding");
            
            mainObject.displayProp();

            mainObject.debugProp("padding-left");


        } else {
            mainObject.removeExeptPropSet("padding-top").removeExeptPropSet("padding-right")
                    .removeExeptPropSet("padding-bottom").removeExeptPropSet("padding-left").addExeptPropSet("padding");

            mainObject.displayProp();

        }




    });

    mainObject.trig = function () {

        mainObject.fullPropSet["padding"] =
                mainObject.fullPropSet["padding-top"] + " "
                + mainObject.fullPropSet["padding-right"] + " "
                + mainObject.fullPropSet["padding-bottom"] + " "
                + mainObject.fullPropSet["padding-left"];
        mainObject.separatePropSet["padding"] =
                mainObject.fullPropSet["padding-top"] + " "
                + mainObject.fullPropSet["padding-right"] + " "
                + mainObject.fullPropSet["padding-bottom"] + " "
                + mainObject.fullPropSet["padding-left"];




    }




    var propProc = function (prop) {

        var p = prop.toLowerCase();

        if (mainObject[p + "Unit"]) {
            var curUnitW = "#sel" + prop + " option[value='" + mainObject[p + 'Unit'] + "']";
            $("#sel" + prop).find('option:selected').removeAttr("selected");
            $(curUnitW).attr("selected", "selected");
        }

        if (mainObject[p + "Val"]) {
            $("#slid" + prop).val(mainObject[p + "Val"]);
            $("#out" + prop).val(mainObject[p + "Val"]);
        }


        mainObject[p + "Unit"] = $("#sel" + prop).val();
        mainObject[p + "Val"] = $("#slid" + prop).val();

        
        mainObject.processFullProp(p, mainObject[p + "Val"] + "" + mainObject[p + "Unit"]);


        $("#slid" + prop).on('input', function () {
            // mainObject.slid = this.value;

            mainObject[p + "Val"] = this.value
            $("#out" + prop).val(this.value);
            
            

            mainObject.processFullProp(p, mainObject[p + "Val"] + "" + mainObject[p + "Unit"]);


            
        })

        $("#sel" + prop).on("change", function () {
            switch (this.value) {
                case"px":
                    $("#slid" + prop).attr({
                        min: 0,
                        max: 20,
                        step: 0.1,
                        value: 10
                    }).trigger("input");

                    mainObject[p + "Unit"] = this.value;
                    mainObject[p + "Val"] = $("#out" + prop).val();

                    break;
                case"cm":

                    $("#slid" + prop).attr({
                        min: "0",
                        max: "2",
                        step: "0.1",
                        value: "1"
                    }).trigger("input");

                    mainObject[p + "Unit"] = this.value;
                    mainObject[p + "Val"] = $("#out" + prop).val();

                    break;
                case"mm":
                    $("#slid" + prop).attr({
                        min: "0",
                        max: "20",
                        step: "0.1",
                        value: "1"
                    }).trigger("input");

                    mainObject[p + "Unit"] = this.value;
                    mainObject[p + "Val"] = $("#out" + prop).val();


                    break;
                case"em":
                    $("#slid" + prop).attr({
                        min: "0",
                        max: "20",
                        step: "0.1",
                        value: "1"
                    }).trigger("input");

                    mainObject[p + "Unit"] = this.value;
                    mainObject[p + "Val"] = $("#out" + prop).val();


                    break;
                case"rem":
                    $("#slid" + prop).attr({
                        min: "0",
                        max: "2",
                        step: "0.1",
                        value: "1"
                    }).trigger("input");

                    mainObject[p + "Unit"] = this.value;
                    mainObject[p + "Val"] = $("#out" + prop).val();



                    break;
                case"%":
                    $("#slid" + prop).attr({
                        min: 0,
                        max: 20,
                        step: 0.1,
                        value: 10
                    }).trigger("input");

                    mainObject[p + "Unit"] = this.value;
                    mainObject[p + "Val"] = $("#out" + prop).val();


                    break;
            }



            mainObject.processFullProp(p, mainObject[p + "Val"] + "" + mainObject[p + "Unit"]);

            
            
        })

    }

    mainObject.clearSeparatePropSet();
    mainObject.currentPropSet = mainObject.fullPropSet;

    propProc("Padding-Top");
    propProc("Padding-Right");
    propProc("Padding-Bottom");
    propProc("Padding-Left");
</script>