
<h4>Border radius</h4>
top-left

<div>
    <label for="slidTLHoriz" style="display: inline; width: 15%">top</label>
    <input type="range" min="0" max="10" value="5" id="slidTLHoriz" step="1" style="display: inline; width: 50%">
    <output for="slidTLHoriz" id="outTLHoriz" style="display: inline; width: 15%">5</output>


    <select name="radius" id="selTLHoriz" class="zeroMP" style="display: inline; width: 20%">
        <option value="px" selected="selected" title="px">px</option>
        <option id="mmW" value="mm">mm</option>
        <option value="cm">cm</option>
        <option value="em">em</option>
        <option value="rem">rem</option>
        <option value="%">%</option>
    </select>

    <label for="slidTLVert" style="display: inline; width: 15%">left</label>
    <input type="range" min="0" max="10" value="5" id="slidTLVert" step="1" style="display: inline; width: 50%">
    <output for="slidTLVertt" id="outTLVert" style="display: inline; width: 15%">5</output>


    <select name="radius" id="selTLVert" class="zeroMP" style="display: inline; width: 20%">
        <option value="px" selected="selected" title="px">px</option>
        <option id="mmW" value="mm">mm</option>
        <option value="cm">cm</option>
        <option value="em">em</option>
        <option value="rem">rem</option>
        <option value="%">%</option>
    </select>
</div>
<br>
<!---------------------------------------------------------------------------------------->

top-right

<div>
    <label for="slidTRHoriz" style="display: inline; width: 15%">top</label>
    <input type="range" min="0" max="10" value="5" id="slidTRHoriz" step="1" style="display: inline; width: 50%">
    <output for="slidTRHoriz" id="outTRHoriz" style="display: inline; width: 15%">5</output>


    <select name="radius" id="selTRHoriz" class="zeroMP" style="display: inline; width: 20%">
        <option value="px" selected="selected" title="px">px</option>
        <option id="mmW" value="mm">mm</option>
        <option value="cm">cm</option>
        <option value="em">em</option>
        <option value="rem">rem</option>
        <option value="%">%</option>
    </select>

    <label for="slidTRVert" style="display: inline; width: 15%">left</label>
    <input type="range" min="0" max="10" value="5" id="slidTRVert" step="1" style="display: inline; width: 50%">
    <output for="slidTLVertt" id="outTRVert" style="display: inline; width: 15%">5</output>


    <select name="radius" id="selTRVert" class="zeroMP" style="display: inline; width: 20%">
        <option value="px" selected="selected" title="px">px</option>
        <option id="mmW" value="mm">mm</option>
        <option value="cm">cm</option>
        <option value="em">em</option>
        <option value="rem">rem</option>
        <option value="%">%</option>
    </select>
</div>
<br>
<!---------------------------------------------------------------------------------------->
bottom-left

<div>
    <label for="slidBLHoriz" style="display: inline; width: 15%">top</label>
    <input type="range" min="0" max="10" value="5" id="slidBLHoriz" step="1" style="display: inline; width: 50%">
    <output for="slidBLHoriz" id="outBLHoriz" style="display: inline; width: 15%">5</output>


    <select name="radius" id="selBLHoriz" class="zeroMP" style="display: inline; width: 20%">
        <option value="px" selected="selected" title="px">px</option>
        <option id="mmW" value="mm">mm</option>
        <option value="cm">cm</option>
        <option value="em">em</option>
        <option value="rem">rem</option>
        <option value="%">%</option>
    </select>

    <label for="slidBLVert" style="display: inline; width: 15%">left</label>
    <input type="range" min="0" max="10" value="5" id="slidBLVert" step="1" style="display: inline; width: 50%">
    <output for="slidTLVertt" id="outBLVert" style="display: inline; width: 15%">5</output>


    <select name="radius" id="selBLVert" class="zeroMP" style="display: inline; width: 20%">
        <option value="px" selected="selected" title="px">px</option>
        <option id="mmW" value="mm">mm</option>
        <option value="cm">cm</option>
        <option value="em">em</option>
        <option value="rem">rem</option>
        <option value="%">%</option>
    </select>
</div>
<br>
<!---------------------------------------------------------------------------------------->

bottom-right

<div>
    <label for="slidBRHoriz" style="display: inline; width: 15%">top</label>
    <input type="range" min="0" max="10" value="5" id="slidBRHoriz" step="1" style="display: inline; width: 50%">
    <output for="slidTRHoriz" id="outBRHoriz" style="display: inline; width: 15%">5</output>


    <select name="radius" id="selBRHoriz" class="zeroMP" style="display: inline; width: 20%">
        <option value="px" selected="selected" title="px">px</option>
        <option id="mmW" value="mm">mm</option>
        <option value="cm">cm</option>
        <option value="em">em</option>
        <option value="rem">rem</option>
        <option value="%">%</option>
    </select>

    <label for="slidBRVert" style="display: inline; width: 15%">left</label>
    <input type="range" min="0" max="10" value="5" id="slidBRVert" step="1" style="display: inline; width: 50%">
    <output for="slidTLVertt" id="outBRVert" style="display: inline; width: 15%">5</output>


    <select name="radius" id="selBRVert" class="zeroMP" style="display: inline; width: 20%">
        <option value="px" selected="selected" title="px">px</option>
        <option id="mmW" value="mm">mm</option>
        <option value="cm">cm</option>
        <option value="em">em</option>
        <option value="rem">rem</option>
        <option value="%">%</option>
    </select>
</div>
<br>

<div  style="display: inline; width: 45%; padding-right: 5%;">
    <label  for="shorthandRadius" style="display: inline">shorthand:</label>
    <input type="checkbox" name="shorthandRadius" > 
</div>

<div  style="display: inline; width: 45%; padding-right: 5%;">
    <label  for="separateRadius" style="display: inline">separate:</label>
    <input type="checkbox" name="separateRadius" > 
</div>



<!---------------------------------------------------------------------------------------->


<script>
    var debug = true;

    $("input[name='separateRadius']").on("click", function () {
        if ($(this).prop("checked")) {

            mainObject.currentPropSet = mainObject.separatePropSet;


            mainObject.displayProp();


        } else {
            mainObject.currentPropSet = mainObject.fullPropSet;
            mainObject.displayProp();
        }
    })

    $("input[name='shorthandRadius']").on("click", function () {


        if ($(this).prop("checked")) {


            mainObject.addExeptPropSet("border-top-left-radius").addExeptPropSet("border-top-right-radius")
                    .addExeptPropSet("border-bottom-left-radius").addExeptPropSet("border-bottom-right-radius")
                    .removeExeptPropSet("border-radius");

            mainObject.displayProp();




        } else {
            mainObject.removeExeptPropSet("border-top-left-radius").removeExeptPropSet("border-top-right-radius")
                    .removeExeptPropSet("border-bottom-left-radius").removeExeptPropSet("border-bottom-right-radius")
                    .addExeptPropSet("border-radius");

            mainObject.displayProp();

        }




    });

    mainObject.trig = function () {

        mainObject.fullPropSet["border-radius"] =
                (mainObject["tlhoriz" + "Val"] || '') + "" + (mainObject["tlhoriz" + "Unit"] || '') + " " +
                (mainObject["trhoriz" + "Val"] || '') + "" + (mainObject["trhoriz" + "Unit"] || '') + " " +
                (mainObject["blhoriz" + "Val"] || '') + "" + (mainObject["blhoriz" + "Unit"] || '') + " " +
                (mainObject["brhoriz" + "Val"] || '') + "" + (mainObject["brhoriz" + "Unit"] || '') + " / " +
                (mainObject["tlvert" + "Val"] || '') + "" + (mainObject["tlvert" + "Unit"] || '') + " " +
                (mainObject["trvert" + "Val"] || '') + "" + (mainObject["trvert" + "Unit"] || '') + " " +
                (mainObject["blvert" + "Val"] || '') + "" + (mainObject["blvert" + "Unit"] || '') + " " +
                (mainObject["brvert" + "Val"] || '') + "" + (mainObject["brvert" + "Unit"] || '');

        mainObject.separatePropSet["border-radius"] =
                (mainObject["tlhoriz" + "Val"] || '') + "" + (mainObject["tlhoriz" + "Unit"] || '') + " " +
                (mainObject["trhoriz" + "Val"] || '') + "" + (mainObject["trhoriz" + "Unit"] || '') + " " +
                (mainObject["blhoriz" + "Val"] || '') + "" + (mainObject["blhoriz" + "Unit"] || '') + " " +
                (mainObject["brhoriz" + "Val"] || '') + "" + (mainObject["brhoriz" + "Unit"] || '') + " / " +
                (mainObject["tlvert" + "Val"] || '') + "" + (mainObject["tlvert" + "Unit"] || '') + " " +
                (mainObject["trvert" + "Val"] || '') + "" + (mainObject["trvert" + "Unit"] || '') + " " +
                (mainObject["blvert" + "Val"] || '') + "" + (mainObject["blvert" + "Unit"] || '') + " " +
                (mainObject["brvert" + "Val"] || '') + "" + (mainObject["brvert" + "Unit"] || '');

    }




    var propProc = function (prop) {

        var p = prop.toLowerCase();

        if (mainObject[p + "Unit"]) {
            var curUnitW = "#sel" + prop + " option[value='" + mainObject[p + 'Unit'] + "']";
            $("#sel" + prop).find('option:selected').removeAttr("selected");
            $(curUnitW).attr("selected", "selected");
        }

        if (mainObject[p + "Val"]) {
            $("#slid" + prop).val(mainObject[p + "Val"]);
            $("#out" + prop).val(mainObject[p + "Val"]);
        }


        mainObject[p + "Unit"] = $("#sel" + prop).val();
        mainObject[p + "Val"] = $("#slid" + prop).val();

        processConerProp(prop);

        $("#slid" + prop).on('input', function () {
            // mainObject.slid = this.value;

            mainObject[p + "Val"] = this.value
            $("#out" + prop).val(this.value);
            mainObject.trig();


            processConerProp(prop);

            debug && mainObject.debug();
        })

        $("#sel" + prop).on("change", function () {
            switch (this.value) {
                case"px":
                    $("#slid" + prop).attr({
                        min: 0,
                        max: 20,
                        step: 0.1,
                        value: 10
                    }).trigger("input");

                    mainObject[p + "Unit"] = this.value;
                    mainObject[p + "Val"] = $("#out" + prop).val();

                    break;
                case"cm":

                    $("#slid" + prop).attr({
                        min: "0",
                        max: "2",
                        step: "0.1",
                        value: "1"
                    }).trigger("input");

                    mainObject[p + "Unit"] = this.value;
                    mainObject[p + "Val"] = $("#out" + prop).val();

                    break;
                case"mm":
                    $("#slid" + prop).attr({
                        min: "0",
                        max: "20",
                        step: "0.1",
                        value: "1"
                    }).trigger("input");

                    mainObject[p + "Unit"] = this.value;
                    mainObject[p + "Val"] = $("#out" + prop).val();


                    break;
                case"em":
                    $("#slid" + prop).attr({
                        min: "0",
                        max: "20",
                        step: "0.1",
                        value: "1"
                    }).trigger("input");

                    mainObject[p + "Unit"] = this.value;
                    mainObject[p + "Val"] = $("#out" + prop).val();


                    break;
                case"rem":
                    $("#slid" + prop).attr({
                        min: "0",
                        max: "2",
                        step: "0.1",
                        value: "1"
                    }).trigger("input");

                    mainObject[p + "Unit"] = this.value;
                    mainObject[p + "Val"] = $("#out" + prop).val();



                    break;
                case"%":
                    $("#slid" + prop).attr({
                        min: 0,
                        max: 20,
                        step: 0.1,
                        value: 10
                    }).trigger("input");

                    mainObject[p + "Unit"] = this.value;
                    mainObject[p + "Val"] = $("#out" + prop).val();


                    break;
            }


            processConerProp(prop);

            mainObject.trig();
            debug && mainObject.debug();
        })

    }

    var processConerProp = function (name) {

        switch (name) {
            case "TLHoriz":
            case "TLVert":

                mainObject.processFullProp("border-top-left-radius",
                        (mainObject["tlhoriz" + "Val"] || '') + "" +
                        (mainObject["tlhoriz" + "Unit"] || '') + " " +
                        (mainObject["tlvert" + "Val"] || '') + "" +
                        (mainObject["tlvert" + "Unit"] || ''));
                break;
            case "TRHoriz":
            case "TRVert":
                mainObject.processFullProp("border-top-right-radius",
                        (mainObject["trhoriz" + "Val"] || '') + "" +
                        (mainObject["trhoriz" + "Unit"] || '') + " " +
                        (mainObject["trvert" + "Val"] || '') + "" +
                        (mainObject["trvert" + "Unit"]) || '');
                break;
            case "BLHoriz":
            case "BLVert":
                mainObject.processFullProp("border-bottom-left-radius",
                        (mainObject["blhoriz" + "Val"] || '') + "" +
                        (mainObject["blhoriz" + "Unit"] || '') + " " +
                        (mainObject["blvert" + "Val"] || '') + "" +
                        (mainObject["blvert" + "Unit"]) || '');
                break;
            case "BRHoriz":
            case "BRVert":
                mainObject.processFullProp("border-bottom-right-radius",
                        (mainObject["brhoriz" + "Val"] || '') + "" +
                        (mainObject["brhoriz" + "Unit"] || '') + " " +
                        (mainObject["brvert" + "Val"] || '') + "" +
                        (mainObject["brvert" + "Unit"] || ''));
                break;
        }
    }



    mainObject.clearSeparatePropSet();
    mainObject.currentPropSet = mainObject.fullPropSet;
    
    propProc("TLHoriz");
    propProc("TLVert");
    propProc("TRHoriz");
    propProc("TRVert");

    propProc("BLHoriz");
    propProc("BLVert");
    propProc("BRHoriz");
    propProc("BRVert");
</script>