<ul id="fix" class="nav nav-pills nav-stacked" >
    <li><a href="#section1">Dimensions</a></li>
    <li><a href="#section2">Padding</a></li>
    <li><a href="#section3">Margin</a></li>
    <li><a href="#section4">Border</a></li>
    <li><a href="#section5">Background</a></li>
    <li><a href="#section6">Text</a></li>
    <li><a href="#section7">Font</a></li>
    <!--
    <li><a href="#section3">Опции</a></li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Section 4 <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#section41">Section 4-1</a></li>
            <li><a href="#section42">Section 4-2</a></li>                     
        </ul>
    </li>-->
</ul>

<script>
    $(function () {

        $("[href='#section1']").click(function (e) {
            e.preventDefault();
            
            $("#control").load("http://localhost:8383/myTutorSite/CSSGenerator/fragments/dimensions.html");
        });
        
        $("[href='#section2']").click(function (e) {
            e.preventDefault();
          //  console.log("side")
            $("#control").load("http://localhost:8383/myTutorSite/CSSGenerator/fragments/padding.html");
        });
    });
</script> 