<h5>Text Align</h5>

<div>
    <label for="labText-align" style="display: inline; width: 15%">align</label>

    <select name="radius" id="selText-align" class="zeroMP" style="display: inline; width: 20%">
        <option value="left" selected="selected">left</option>
        <option value="right">right</option>
        <option value="center">center</option>
        <option value="justify">justify</option>
        <option value="justify-all">justify-all</option>
        <option value="start">start</option>
        <option value="end">end</option>
        <option value="match-parent">match-parent</option>
        <option value="inherit">inherit</option>
        <option value="initial">initial</option>
        <option value="unset">unset</option>
    </select>
</div>
<!---------------------------------------------------------------------------------------------------------------------->

<h5>Text Transform</h5>

<div>
    <label for="labText-transform" style="display: inline; width: 15%">transform</label>

    <select name="radius" id="selText-transform" class="zeroMP" style="display: inline; width: 20%">
        <option value="none" selected="selected">none</option>
        <option value="capitalize">capitalize</option>
        <option value="uppercase">uppercase</option>
        <option value="lowercase">lowercase</option>
        <option value="full-width">full-width</option>
        
    </select>
</div>


<div  style="padding-left: 0px;">
    <label  for="separateWH" style="display: inline">separate:</label>
    <input type="checkbox" name="separateWH" > 
</div>

<script>


    $("input[name='separateWH']").on("click", function () {
        if ($(this).prop("checked")) {

            mainObject.currentPropSet = mainObject.separatePropSet;
            mainObject.displayProp();

        } else {
            mainObject.currentPropSet = mainObject.fullPropSet;
            mainObject.displayProp();
        }
    })



    var propProc = function (prop) {

        var p = prop.toLowerCase();

        if (mainObject[p + "Unit"]) {
            var curUnitW = "#sel" + prop + " option[value='" + mainObject[p + 'Unit'] + "']";
            $("#sel" + prop).find('option:selected').removeAttr("selected");
            $(curUnitW).attr("selected", "selected");
        }

        
        mainObject[p + "Unit"] = $("#sel" + prop).val();
        
         mainObject.processFullProp(p,  mainObject[p + "Unit"]);


        $("#sel" + prop).on("change", function () {

            mainObject[p + "Unit"] = this.value;
            

            mainObject.processFullProp(p,  mainObject[p + "Unit"]);


        })

    }
    mainObject.trig = function () {};
    mainObject.clearSeparatePropSet();
    mainObject.currentPropSet = mainObject.fullPropSet;
    propProc("Text-align");
    propProc("Text-transform");
    
</script>